.change-budget-form .form-inline {
  justify-content: flex-start;
}

@media(max-width: 768px) {
  .change-budget-form .form-inline {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .change-budget-form .form-inline * {
    margin: 5px;
  }
}

.change-budget-form .button-group {
  margin-left: 20px;
}

.change-budget-form .btn {
  min-width: 100px;
  margin: 0 5px;
}
